<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div align="center">
        <h1>login</h1>
        <p><input type="text" name="email" placeholder="email"></p>
        <p><input type="password" name="password" placeholder="password"></p>
        <button type="submit">Entrar</button>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>