<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header style="display:flex; justify-content:space-between; align-items:center; padding:15px 20px;">
        <div>
            <a href="index">TrufaException</a>
        </div>
        <div>
            <a href="login">login</a> | <a href="cadastro">cadastro</a>
        </div>
    </header>
</body>
</html>