body{
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("/img/TrufasFundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.center-content{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.red{
    color: darkred;
}
.boot-body{
background: black;
height: 100vh;
}

#terminal{
color: #8B0000;
padding: 20px;
font-family: monospace;
}